@mixin btn-main {
  @apply inline-flex py-2 lg:py-4 px-3 lg:px-6 items-center justify-center text-sm lg:text-lg font-medium text-white  transition duration-200 bg-zinc-500 hover:bg-zinc-800 cursor-pointer min-h-12;
}

.btn-main {
  @include btn-main;

  &--small {
    @apply inline-flex  items-center justify-center text-sm font-medium text-white  transition duration-200 bg-zinc-500 hover:bg-zinc-800 cursor-pointer;
  }
}
