@tailwind base;
@tailwind components;
@tailwind utilities;

@import './scss/components/buttons';
@import './scss/vendors/hamburgers/hamburgers.scss';

// @import './scss/vendors/debug';

//woocommerce global
.container-woocommerce-fajnestarocie {
  @apply py-12 lg:py-24;

  .woocommerce-breadcrumb {
    @apply flex flex-wrap lg:mb-4 items-center text-sm font-medium text-teal-900;

    &:last-child {
      @apply w-full;
    }

    a {
      @apply inline-block whitespace-nowrap;

      &:last-of-type {
        &::after {
          content: '';
          @apply block w-full;
        }
      }
    }
  }

  .single_add_to_cart_button {
    @include btn-main;
    @apply max-lg:w-full min-h-12;
  }
}

.woocommerce-page {
  .wp-block-button__link {
    @include btn-main;
    @apply rounded-none max-h-[48px];
  }

  .up-sells .columns-4 {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4;

    .product {
      @apply flex flex-col gap-10 items-center justify-center p-4 lg:p-7 border border-dashed border-[#71717A];

      .add_to_cart_button {
        @include btn-main;
      }
    }
  }
}

//cart
#page .wc-block-cart__submit-container {
  @apply h-12 inline-flex w-full mt-3 py-1 px-5 items-center justify-center font-medium border transition duration-200 bg-zinc-500 text-white hover:bg-zinc-800 cursor-pointer;
}

//woo parts
@import './scss/pages/checkout';

// swiper
.fajnestarocie-swiper-button-next,
.fajnestarocie-swiper-button-prev {
  @apply -rotate-1 inline-flex py-2 px-4 lg:py-4 lg:px-6 items-center justify-center text-lg font-medium text-white border transition duration-200 bg-zinc-500 hover:bg-zinc-800 outline-none border-none z-10 absolute top-1/2 -translate-y-1/2 shadow-2xl;
}

.fajnestarocie-swiper-button-prev {
  @apply left-10;
}

.fajnestarocie-swiper-button-next {
  @apply right-10;
}

//footer
.newsletter-message {
  @apply text-center pt-3;
}

// global hover
.hvr {
  &__item-dark {
    @apply relative;

    &::before {
      content: '';
      @apply block w-full h-[1px] bg-teal-700 absolute -bottom-3 left-0 transition-all duration-300 opacity-0;
    }

    &:hover {
      &::before {
        @apply opacity-100;
      }
    }
  }
}

// pagination
.pagination-container {
  .current {
    button {
      @apply bg-zinc-500 text-white;
    }
  }
}

//cf7

form.wpcf7-form {
  input:not([type='submit']) {
    @apply w-full px-4 py-3 mb-1 outline-none ring-offset-0 focus:ring-2 shadow;
  }

  textarea {
    @apply w-full px-4 py-3 mb-6 outline-none ring-offset-0 focus:ring-2 shadow min-h-32;
  }

  .wpcf7-submit {
    @include btn-main;
  }

  .wpcf7-response-output {
    @apply text-lg font-medium  border transition duration-200   border-none outline-none p-0 m-0;
  }
}

// global for single page

#page,
#primary {
  @apply bg-stone-200;
}

#primary.site-main {
  .entry-title {
    @apply font-heading text-3xl lg:text-4xl xl:text-5xl mb-6  xl:leading-relaxed;
  }

  h1 {
    @apply font-heading text-4xl mb-6  leading-relaxed;
  }
  h2 {
    @apply font-heading text-2xl mb-6 mt-6  leading-relaxed;
  }
  h3 {
    @apply font-heading text-2xl md:text-3xl mb-6 mt-6  leading-relaxed;
  }
  h4 {
    @apply font-heading text-xl md:text-2xl mb-6 mt-6  leading-relaxed;
  }
  h5 {
    @apply font-heading text-lg md:text-xl mb-6 mt-6  leading-relaxed;
  }
  h6 {
    @apply font-heading text-base md:text-lg mb-6 mt-6  leading-relaxed;
  }
  p {
    @apply text-base md:text-lg mb-6 mt-6  leading-relaxed;
  }
  ul {
    @apply list-disc list-inside pl-4 pt-3;

    ul,
    ol {
      @apply py-3;
    }
  }
  ol {
    @apply list-decimal list-inside pl-4 pt-3;

    ul,
    ol {
      @apply py-3;
    }
  }

  img {
    @apply w-full h-auto;
  }
  .wp-block-image {
    @apply w-full h-auto;
  }
}

//search

#search {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 0.3s ease-in-out;

  // @apply fixed top-0 left-0 right-0 z-50 lg:static;

  @media (min-width: 1024px) {
    grid-template-rows: 0fr;

    .container {
      overflow: hidden;
    }
  }
}

.is-search-visible {
  grid-template-rows: 1fr !important;

  .container {
    overflow: visible;
  }
}

//blockquote
blockquote {
  @apply italic;
}

// Hide Przelewy24 installments only for products with individual shipping
.product-shipping-individual #p24_installments {
  display: none !important;
}
