.single-product {
  @apply bg-stone-200;

  .product {
    @apply border-t pt-16 flex items-start justify-between gap-20;


   .single-product-gallery {
    @apply w-8/12
   }
   .summary {
    @apply w-4/12
   }

    &_title {
      @apply text-4xl md:text-5xl leading-relaxed font-heading mb-6;
    }
    &_meta {
      @apply hidden;
    }
    &_content {
      @apply mt-6 text-lg;
    }
    .price {
      @apply font-medium mb-4 text-2xl;
    }
    form.cart {
      // TODO: add to global woo input ?

      @apply flex items-stretch justify-start gap-4 -ml-[16px];

      // hidden because this products has no qty , always 1 item
      input.qty {
        @apply hidden py-4 px-6 placeholder-gray-700 outline-none ring-offset-0 focus:ring-2 shadow min-h-[61px] w-20 border-white;
      }
    }
  }

  &-gallery {
   
    &-images {
      @apply flex flex-wrap gap-4;
      &-image {
        @apply w-1/4;
        &-inner {
          @apply w-full h-full object-cover;
        }
      }
    }
  }
}

// GRID

.images-length-3 {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);  
  grid-template-rows: 400px 260px ;
  grid-template-areas:
    "one one two two"
    "one one three three"
    
}

.images-length-5 {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);  
  grid-template-rows: 400px 260px 400px;
  grid-template-areas:
    "one one two two"
    "one one three three"
    "four five five five ";
}

.images-length-7 {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);  
  grid-template-rows: 400px 260px 200px;
  grid-template-areas:
    "one one two two"
    "one one three three"
    "four five six seven";
}

.images-length-8 {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);  
  grid-template-rows: 400px 260px 200px 610px;
  grid-template-areas:
    "one one two two"
    "one one three three"
    "four five six seven"
    "eight eight eight eight";
}

.single-product-gallery-image {

  img {
    @apply w-full h-full object-cover;
  }
  &-1 {
    grid-area: one;
  }
  &-2 {
    grid-area: two;
  }
  &-3 {
    grid-area: three;
  }
  &-4 {
    grid-area: four;
  }
  &-5 {
    grid-area: five;
  }
  &-6 {
    grid-area: six;
  }
  &-7 {
    grid-area: seven;
  }
  &-8 {
    grid-area: eight;
  }
}