@use '../components/buttons' as btn;

.single-product {
  @apply bg-stone-200;

  .product {
    @apply border-t pt-4 xl:pt-16 max-lg:flex max-lg:flex-col lg:grid lg:grid-cols-12 lg:gap-20;

    .product_title {
      @apply pt-4 lg:pt-0 !mb-0 lg:!mb-3;
    }

    .single-product-gallery {
      @apply lg:col-span-8;
    }
    .summary {
      @apply lg:col-span-4;
    }

    &_title {
      @apply text-3xl md:text-4xl xl:text-5xl  font-heading mb-6;
    }
    &_meta {
      @apply hidden;
    }
    &_content {
      @apply mt-6 text-lg;
    }
    .price {
      @apply font-medium !mt-0  mb-4 text-2xl;
    }
    form.cart {
      @apply flex items-stretch justify-start gap-4 -ml-[16px];

      input.qty {
        @apply hidden py-4 px-6 placeholder-gray-700 outline-none ring-offset-0 focus:ring-2 shadow min-h-[61px] w-20 border-white;
      }
    }
  }

  &-gallery {
    &-images {
      @apply flex flex-wrap lg:gap-4;
      &-image {
        @apply w-1/4 border border-red-500;
      }
    }
  }

  #page .woocommerce-message {
    @apply bg-stone-300 py-10 px-12 text-lg leading-relaxed mb-6 mt-2 outline-none focus:outline-none;

    a.wc-forward {
      @apply h-12 inline-flex mt-3 py-1 px-5 items-center justify-center font-medium border transition duration-200 bg-zinc-500 text-white hover:bg-zinc-800 ml-6;
    }
  }

  .summary {
    @apply sticky top-3;
  }

  .single-product-sticky-bar {
    @apply w-full fixed bottom-0 left-0 bg-[#bfbfbf] z-10 shadow-2xl h-0 transition-all duration-300 flex items-center overflow-hidden;

    &--active {
      @apply h-32;
    }

    &__inner {
      @apply container flex flex-col lg:flex-row gap-3 items-center justify-between;
    }

    &__product-title {
      @apply text-base text-center lg:text-xl lg:text-left font-medium;
    }

    &__product-add-to-cart-button {
      @include btn.btn-main;
      @apply flex-1 text-nowrap;
    }
    &__content {
      @apply flex items-center gap-4;
    }
  }
}

// GRID

.images-length-3 {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
  grid-template-areas:
    'one two'
    'three three';
  @apply gap-3 lg:gap-4 h-full;
}

.images-length-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 260px;
  grid-template-areas:
    'one one two two'
    'three three four four';
  @apply gap-3 lg:gap-4 h-full;
}

.images-length-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px 260px 400px;
  grid-template-areas:
    'one one two two'
    'one one three three'
    'four five five five ';
  @apply gap-3 lg:gap-4 h-full;
}

.images-length-6 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px 260px 200px;
  grid-template-areas:
    'one one two two'
    'one one three three'
    'four five six six';
  @apply gap-3 lg:gap-4 h-full;
}

.images-length-7 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px 260px 200px;
  grid-template-areas:
    'one one two two'
    'one one three three'
    'four five six seven';
  @apply gap-3 lg:gap-4 h-full;
}

.images-length-8 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 400px 260px 200px 610px;
  grid-template-areas:
    'one one two two'
    'one one three three'
    'four five six seven'
    'eight eight eight eight';
  @apply gap-3 lg:gap-4 h-full;
}

.single-product-gallery-image {
  @apply overflow-hidden bg-cover bg-center hover:opacity-90 transition-all duration-200;

  &-1 {
    grid-area: one;
  }
  &-2 {
    grid-area: two;
  }
  &-3 {
    grid-area: three;
  }
  &-4 {
    grid-area: four;
  }
  &-5 {
    grid-area: five;
  }
  &-6 {
    grid-area: six;
  }
  &-7 {
    grid-area: seven;
  }
  &-8 {
    grid-area: eight;
  }
}

// up-sells na stronie produktu
.up-sells .columns-4 {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4;

  .product {
    @apply flex flex-col items-center justify-center;
  }
}

#primary.site-main {
  // klasyfikacja winyli
  .product-classification {
    @apply pt-4 text-base md:text-lg;

    .classification-inline {
      @apply flex flex-col items-start justify-start  border-b border-gray-200 py-3;
    }

    .classification-label-value {
      @apply w-full;
    }

    .classification-help {
      @apply opacity-60 flex w-full items-center gap-1 hover:underline underline-offset-2 hover:opacity-100 transition-all duration-200;

      svg {
        @apply w-4;
      }
    }
  }
}
